<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Students</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        <h2>Students</h2>
        <ul th:each="student : ${studentList}" class="list-group">
            <a th:href="@{'report-card/'+${student.id}}"
               th:text="${student.fullName}"
               th:classappend="${student.hasAllGrades} ? list-group-item-success : list-group-item-warning"
               class="list-group-item list-group-item-action"/>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"/>
    </body>
</html>