<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="#" th:action="@{'~/report-card/'+${student.id}}" method="post">
        <h3>Name: <span th:text="${student.fullName}"/></h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grade : ${student.gradeList}">
                <td th:text="${grade.subject}"></td>
                <td>
                    <select th:name="${grade.id}">
                        <option th:each="gradeOption : ${gradeOptionList}"
                                th:value="${gradeOption}"
                                th:text="${gradeOption.displayValue}"
                                th:selected="${grade.gradeValue == gradeOption}"/>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"/>
</body>
</html>